<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Backend</title>
   <style media="screen">


   </style>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
 </head>
 <body>

   <div class="menu-btn">
     <i class="fas fa-bars"></i>
   </div>


   <div class="side-bar">

    <header>
      {% load static %}
      <link rel="stylesheet" href="{% static 'portofolio/css/base.css' %}">
      <div class="close-btn">
        <i class="fas fa-times"></i>
      </div>
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" class="img-class">
      <h1>Backend</h1>
      
    </header>
    <div class="menu">
      <div class="item">
        <a class="sub-btn"><i class="fas fa-table"></i>Pessoal<i class="fas fa-angle-right dropdown"></i></a>
        <div class="sub-menu">
          <a href="#" class="sub-item">Pessoas</a>
          <a href="#" class="sub-item">Professores</a>
        </div>
      </div>
      <div class="item">
      <a class="sub-btn"><i class="fas fa-graduation-cap"></i>Educação<i class="fas fa-angle-right dropdown"></i></a>
      <div class="sub-menu">
        <a href="#" class="sub-item">Escolas</a>
        <a href="#" class="sub-item">Universidades</a>
        <a href="#" class="sub-item">Cursos</a>
          <a href="#" class="sub-item">Cadeiras</a>
      </div>
    </div>
    <div class="item">
      <a class="sub-btn"><i class="fas fa-briefcase"></i>Trabalhos<i class="fas fa-angle-right dropdown"></i></a>
      <div class="sub-menu">
        <a href="#" class="sub-item">Projetos</a>
        <a href="#" class="sub-item">Linguagens</a>
        <a href="#" class="sub-item">Profissional</a>
      </div>
    </div>
    <div class="item">
      <a class="sub-btn"><i class="fas fa-info-circle"></i>Sobre<i class="fas fa-angle-right dropdown"></i></a>
      <div class="sub-menu">
          <a href="#" class="sub-item">Aptidões</a>
          <a href="#" class="sub-item">Interesses</a>
          <a href="#" class="sub-item">Tecnologias</a>
      </div>
    </div>
    <div class="item">
      <a class="sub-btn"><i class="fas fa-tags"></i>Tipo<i class="fas fa-angle-right dropdown"></i></a>
      <div class="sub-menu">
          <a href="#" class="sub-item">Tecnológicos</a>
          <a href="#" class="sub-item">Aptidões</a>
          <a href="#" class="sub-item">Projetos</a>
      </div>
    </div>
    <div class="item">
      <a href="{% url 'users:logout' %}" class="sub-item">Terminar Sessão</a>
    </div>
    </div>
  </div>
  <section class="main">
      {% block content %}
          <!-- Conteúdo da página -->
      {% endblock %}
  </section>

  <script type="text/javascript">
  $(document).ready(function(){
    //jquery for toggle sub menus
    $('.sub-btn').click(function(){
      $(this).next('.sub-menu').slideToggle();
      $(this).find('.dropdown').toggleClass('rotate');
    });

    //jquery for expand and collapse the sidebar
    $('.menu-btn').click(function(){
      $('.side-bar').addClass('active');
      $('.menu-btn').css("visibility", "hidden");
    });

    $('.close-btn').click(function(){
      $('.side-bar').removeClass('active');
      $('.menu-btn').css("visibility", "visible");
    });
  });

  // if u open a sub menu then close the one that was open before
  $('.sub-btn').click(function(){
    $('.sub-btn').not($(this)).find('.dropdown').removeClass('rotate');
    // and hide the sub-menu that was open before
      $('.sub-btn').not($(this)).next('.sub-menu').slideUp();
  });

  // zoom in and zoom out of the erd image
  var img = document.querySelector('.img-erd');
  var container = document.querySelector('.container-erd');

  img.addEventListener('mousemove', function(e){
    var x = e.clientX - e.target.offsetLeft;
    var y = e.clientY - e.target.offsetTop;

    img.style.transformOrigin = `${x}px ${y}px`;
    img.style.transform = "scale(2)";
  });

  img.addEventListener('mouseleave', function(e){
    img.style.transformOrigin = "center center";
    img.style.transform = "scale(1)";
  });
  
  </script>

 </body>
</html>
