{%extends 'portofolio/base.html' %}
{%load crispy_forms_tags%}
{%block content%}
<div class="container">
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="limiter-form jumbotron">
            <a href="{%url 'portofolio:linguagens_insert'%}" class="btn btn-primary btn-sm">
                <i class="fas fa-user-plus"></i>
                Adicionar
            </a>
            <h1 class="display-4">Lista de Linguagens</h1>
            <p class="lead">Aqui irás conseguir ver as linguagens no Backend.</p>
            <hr class="my-4">
            <table class="table table-borderless">
                <thead class="border-bottom font-weight-bold">
                    <tr>
                        <td>Nome</td>
                        <td>Descrição</td>
                    </tr>
                    <tbody>
                        {%for linguagem in linguagem_list%}
                        <tr>
                            <td>{{linguagem.nome}}</td>
                            <td>{{linguagem.descricao|truncatewords:10}}</td>
                            <td>
                                <a href="{%url 'portofolio:linguagem_update' linguagem.id%}" class="btn btn-warning btn-sm">
                                    <i class="fas fa-user-edit"></i>
                                </a>
                                <form action="{%url 'portofolio:linguagem_delete' linguagem.id%}" method="post" class="d-inline">
                                    {%csrf_token%}
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        <i class="fas fa-user-times"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>
{%endblock%}