{%extends 'front/base.html'%}
{%load static%}
{%block head%}
<link rel="stylesheet" href="{%static 'portofolio/css/studies.css'%}">
{%endblock%}
{%block content%}

<div class="timeline left-container">
    <div class="container">
        <img src="{%static 'portofolio/media/ulht-branco.png'%}" alt="ULHT">
        <div class="box">
            <h2>Title</h2>
            <small>2019-2020</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            <span class="left-container-arrow"></span>
        </div>
    </div>

    <div class="container right-container">
        <img src="{%static 'portofolio/media/ulht-branco.png'%}" alt="ULHT">
        <div class="box">
            <h2>Title</h2>
            <small>2019-2020</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            <span class="right-container-arrow"></span>
        </div>
    </div>

    <div class="container left-container">
        <img src="{%static 'portofolio/media/ulht-branco.png'%}" alt="ULHT">
        <div class="box">
            <h2>Title</h2>
            <small>2019-2020</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            <span class="left-container-arrow"></span>
        </div>
    </div>

    <div class="container right-container">
        <img src="{%static 'portofolio/media/ulht-branco.png'%}" alt="ULHT">
        <div class="box">
            <h2>Title</h2>
            <small>2019-2020</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            <span class="right-container-arrow"></span>
        </div>
    </div>
</div>



{%endblock%}